<script type="text/javascript">
  $j(document).ready(function() {
  
    $j('#accordion').accordion({autoHeight : false, collapsible : true});

<% if controller.action_name == "new" %>
      $j("input:radio[value='0']").each(function() {
        $j(this).attr('checked', true);
      });
<%end%>
  });
  
  function evalScore(elem) {
    elem_val = $j(elem).val();
    parent_elem = $j(elem).parent()[0];
    gweight = $j(parent_elem).nextAll("input.gweight").attr("value");
    gpoint = $j(parent_elem).nextAll("input.gpoint").attr("value");
    // gpoint = gpoint_elem.attr("value");
    //next_li = $j(gpoint_elem).next("li");
    $j(parent_elem).nextAll('.score').first().val(gweight * gpoint * elem_val);
  }
</script>


<% if @gcertificate.new_record?
  @new_rec = true
  @coll = @gcertsteps
else
  @coll = @gcertifications
end  %>

<div id="certstep_div">
  <% form_for @gcertificate do |f| %>
    <%= f.hidden_field :merchant_id, :as => :hidden, :input_html => {:value => @merchant_id} %>
    <div class="accordion" id="accordion">
      <% @coll.keys.sort.each_with_index do |category, cat_index| %>
        <h3><a href="#"><%= (cat_index + 1).to_s + "." + category %></a></h3>
        <div class="acc_content">
          <% @coll[category].each_with_index do |c, c_index|%>
            <% if @new_rec
              args = nil
            else
              args = c
            end  %>
            <%f.fields_for :gcertifications, args do |cs|%>
              <p>
                <% if @new_rec %>
                  <%= cs.label :resonse, (c_index + 1).to_s + "." + c.step %>
                <% else %>
                  <%= cs.label :resonse, (c_index + 1).to_s + "." + cs.object.gcertstep.step %>
                <% end  %>
              </p>
              <p>
                <%= cs.radio_button :response, "2", :onclick => "evalScore(this);" %>
                <%= cs.label :response_completely, "Completely" %>
              </p>
              <p>
                <%= cs.radio_button :response, "1", :onclick => "evalScore(this);" %>
                <%= cs.label :response_completely, "Partially" %>
              </p>
              <p>
                <%= cs.radio_button :response, "0", :onclick => "evalScore(this);" %>
                <%= cs.label :response_completely, "None" %>
              </p>
              <% if @new_rec %>
                <%= hidden_field_tag "gweight", c.weight, :class => 'gweight' %>
                <%= hidden_field_tag "gpoint", c.gpoint, :class => 'gpoint' %>
                <%= cs.hidden_field :score, :value => 0, :class => 'score' %>
                <%= cs.hidden_field :gcertstep_id, :value => c.id %>
              <% else %>
                <%= hidden_field_tag "gweight", cs.object.gcertstep.weight, :class => 'gweight' %>
                <%= hidden_field_tag "gpoint", cs.object.gcertstep.gpoint, :class => 'gpoint' %>
                <%= cs.hidden_field :score, :class => 'score' %>
                <%= cs.hidden_field :gcertstep_id, :value => cs.object.gcertstep.id %>
              <% end  %>
              <%= cs.hidden_field :merchant_id, :value => @merchant_id %>
            <% end  %>
          <% end  %>
        </div> <!--end accordian content -->
      <% end  %> <!-- end category loop -->
    </div> <!-- end accordion -->
    <p>
      <%= f.submit "Save Eco Certificate", :class => 'create' %>
    </p>
  <% end  %> <!-- end form for -->
</div> <!-- end certstep div -->