<script type="text/javascript">
  $j(document).ready(function() {
    $j("#et_ets_type_input  :input[type='radio']").click(function() {
      typeChanged();
    });

    typeChanged();
    
    $j('.accordion .acc_header').click(function() {
      $j(this).next().toggle('slow');
      img_elem = $j("img", this);
      if ($j(this).hasClass("acc_h_off")) {
        $j(this).removeClass("acc_h_off", 'slow').addClass("acc_h_on", 'slow');
        img_elem.attr("src", "/images/arr_down.png")
        //$j(this).next().css('display', '');
      } else if ($j(this).hasClass("acc_h_on")) {
        $j(this).removeClass("acc_h_on", 'slow').addClass("acc_h_off", 'slow');
        img_elem.attr("src", "/images/arr_right.png")
      }
      return false;
    }).next().hide();
  });

  function prepAcc() {
    $j('#acc_header').show().next().hide();
  }
  
  function typeChanged() {
    v = $j("input[name='et[ets_type]']:checked").val();
    elem = $j("label[for='et_amount']")
    if (v == 1 || v != 2) { //credit
      elem.html("Bill Amount*");
    } else  {
      elem.html("Number of points to deduct*");
    }
  }
</script>

<% semantic_form_for @et do |f| %>
  <%= f.semantic_errors %>
  <% benefits_rendered = false %>
  <% f.inputs do %>
    <li>
      <%= label_tag "Customer's username" %>
      <%= text_field_tag :username, params[:username] %>
    </li>
    <%= f.input :merchant, :as => :select, :label => "Select Business", :label_method => "name", :collection => Merchant.find_all_by_owner_id(@et.merchant_id)%>
    <%= observe_field :et_merchant_id, :url => {:controller => :loyalty_benefits, :action => "index"}, :method => :get, :frequency => 0.5,
      :with => "'merchant_id=' + encodeURIComponent(value)", :complete => "prepAcc();" %>
    <% if @et.merchant_id && benefits_rendered == false %>
      <div id="accordion" class="accordion">
        <h4 class="acc_header acc_h_off" id="acc_header">View Program Details<img src='/images/arr_right.png' alt='>>' class ='acc_arr'/></h4>
        <% @merchant = Merchant.find(@et.merchant_id, :include => "loyalty_benefits") %>
        <% @loyalty_benefits = @merchant.loyalty_benefits.all %>
        <%= render :partial => "loyalty_benefits/lbs_index", :object => @loyalty_benefits, :locals => {:merchant => @merchant, :index_listing => false}%>
        <% benefits_rendered = true %>
      </div>
    <% else %>
      <div id="accordion" class="accordion">
        <h4 class="acc_header acc_h_off" id="acc_header" style="display:none">View Program Details<img src='/images/arr_right.png' alt='>>' class ='acc_arr'/></h4>
        <div id ="lbs_list" style="display:none"></div>
      </div>
    <% end %>
    <%= f.input :ets_type, :label => "Type", :collection => Et::ETS_TYPE, :as => :radio %>
    <%= f.input :amount, :label => "Bill Amount", :input_html => {:size => 10} %>
    <%= f.input :comment, :label => "Commhent" %>
  <% end  %>
  <%= f.commit_button "Submit" %>
<% end  %>