<% semantic_form_for @user, :url => {:action => :create, :reg => User::USER_TYPE.index(@user.ut)}, :html => {:multipart => true} do |form| %>
  <%= form.semantic_errors %>
  <% form.inputs do %>
    <%= form.input :username, :label => 'Username', :input_html => {:style => "width:25%"}%>
    <%= form.input :password, :label => 'Password', :input_html => {:style => "width:25%"} %>
    <%= form.input :password_confirmation, :label => 'Confirm Password',  :input_html => {:style => "width:25%"} %>
    <%= form.input :email, :label => 'Email' , :input_html => {:style => "width:25%"}%>
    <% if @user.ut == User::USER_TYPE["b"] || @user.ut == User::USER_TYPE["c"] %>
      <%= form.input :first_name, :input_html => {:style => "width:25%"} %>
      <%= form.input :last_name , :input_html => {:style => "width:25%"}%>
      <%= form.input :phone, :input_html => {:style => "width:25%"}%>
    <% end  %>
 <%= form.input :ut, :as => :hidden %>
<li><%= recaptcha_tags :display => {:theme => 'clean'} %></li>
  <% end %>

  <%= form.buttons %>
<% end  %>
