<% form_for (@user), :html => {:multipart => true} do |f| %>

  <%= f.error_messages %>
  <%= @user.errors unless @user.errors.size <= 0 %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :profile_photo, "Upload a profile photo" %><br />
    <%= f.file_field :profile_photo%>
    
  </p>

  <p>
  <b>Uploaded Image:</b><br />
  <%#= embedded_image_tag(@user.operate { |img| img.resize 100 }) if @user.has_ %>
</p>


  <% if has_role? :admin %>
    <p>
      <%= f.label :active %>
      <%= f.check_box :active %>
    </p>
  <% end  %>

  <% if has_role? :admin %>
    <div>
      <span>Roles</span><br/>
      <%= hidden_field_tag "user[role_ids][]", "" %>
      <%for role in Role.all%>
        <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)%>
        <%= h role.name%><br/>
      <%end%>
    </div>
    <%# else %>
    <%#= hidden_field_tag "user[role_ids][]", ["5"] %>
  <% end %>

  <p>
    <%= f.submit submit_txt %>
  </p>
<% end %>