<div id="events_list" class ="span-17 prepend-1 last">
<% @events.each do |event| %>
  <div class ="event" id="event_"<%= event.id %> class="span-16 last">
    <span class="listing_title blk"><%= link_to "#{event.title}", event, :onclick => "event_marker_group.showMarker(#{event.id});return false;",
      :class => "title_link"%>  </span>
    <span style="display:block"><%= "(#{event.event_date.strftime('%b %d/%y')})" %></span>
    
    <span class="blk">
      <% event.categorizations.each do |ct| %>
        <%= link_to ct.category.category_name, category_events_path(ct.category), :class => "action_link" %>,
      <% end  %>
    </span>
    <p class="address">
      <%= event.address.street1.camelize %>
      <br/>
      <%= event.address.street2.camelize + "<br/>" unless event.address.street2.blank?  %>
      <%= event.address.city.camelize %>
      <%= event.address.state.camelize + "-" + event.address.zip %>
      <br/>
    </p>
    <p class="listing_description">
      <%= event.description[0, 100] + "," %>
      <%= link_to "More...", event_path(event), :class => "norm_link" %>
    </p>
    <%  if permitted_to? :edit, :events%>
      <%= link_to 'Edit', edit_event_path(event), :class => "action_link" %>
    <% end  %>
    <% if permitted_to? :destroy, :events %>
      <%= link_to 'Delete', event, :confirm => 'Are you sure?', :method => :delete,  :class => "action_link" %>
    <% end  %>
  </div>
<% end  %>
<%= will_paginate @events %>
</div>



