<%= javascript_include_tag "markerGroup.js" %>
<%= javascript_include_tag "jquery.colorbox-min.js" %>
<%= javascript_include_tag "jquery.colorbox.js" %>
<script type ="text/javascript">
  $j(document).ready(function(){
    $j('#category_link').colorbox({width:"20%", height:"50%", inline:true, href:"#categories", onClosed:function() {
      //  val = "title_like=" + $j("#title_like").val() + "txtorigin=" + $j("#txtOrigin").val() + "txtWithin=" + $j("#sltDistance").val();
    //    alert(val);
        $j('#search_form').submit();
    }});


    $j('#map_div_id').css("overflow", "hidden");
    //show the calendar if that's what's chosen'
    if ($j('#th_type').val() == 'cdate') {
      $j('#cal').css("display", "inline").val("");
    } else {
      $j('#cal').css("display", "none");
    }
  });


  function th_changed(elem) {
    if (elem.getValue() == 'cdate') {
      $j('#cal').css("display", "inline").val("");
    } else {
      $j('#cal').css("display", "none");;
      elem.form.onsubmit();
    }
  }
</script>


<div class="span-19 last search_div">
  <%= link_to_remote "All", {:url => events_path(:all => "true"), :method => :get}, :id => "all_link", :href => events_path, :method => :get %>
  <% form_remote_tag :url=> events_path, :method => :get, :html => {:id => "search_form", :href => events_path, :method => :get} do %>
  <%# form_remote_tag :html => {:action => url_for(:controller => "events", "action" => "index"), :id => "search_form"} do %>
    <div class="span-19 last query_div">
      <ul class="search_list">
        <li>
          <%= label_tag :txtSearch, "Search"%>
        </li>
        <li>
          <%= text_field_tag :title_like, "", :size => 25, :class => "inputArea" %>

        </li>
        <li>
          <%= label_tag :txtOrigin, "Near Address/Zip"%>
        </li>
        <li>
          <%= text_field_tag :txtOrigin, @origin, :size => 25, :class => "inputArea" %>
        </li>
        <li>
          <%= submit_tag "Search", :id => "btnEvent"%>
        </li>
      </ul>
    </div>
    <div class ="span-19 last filter_div">
      <ul class="search_list">
        <li>
          <%= label_tag :txtWithin, "Within "%>
        </li>
        <li>
          <%= select_options_tag("sltDistance", (1..15).collect {|x| [(x * 5).to_s + " miles", (x* 5).to_s]}, :value => @distance, :onchange => "this.form.onsubmit();" )  %>
        </li>
        <li>
          <%= label_tag "Happening" %>
        </li>
        <li>
          <%= select_options_tag("th_type", [["Today", "today"], ["Tomorrow", "tomorrow"], ["This week", "thisweek"],["Weekend", "weekend"],
              ["Next Week", "nextweek"], ["On a Date", "cdate"]], :value => @th_type, :onchange => "th_changed(this);")  %>
        </li>
        <li id ="cal" style = "display:none">
          <%= calendar_date_select_tag :event_date_equals, @event_date_gte, :default_time => Date.today, :popup => 'force', :class => "inputArea",
            :after_close => "this.form.onsubmit()"%>
        </li>
        <li>
          <%= label_tag :sort_by, "Sort by" %>
        </li>
        <li>
          <%= select_options_tag :slt_sort_by,  {"Recent" => "event_date DESC", "Nearest" => "distance ASC"}, :value => @sort_by,
            :onchange => "this.form.onsubmit();"%>
        </li>
        <li>
          <a href ="#" id="category_link">Categories</a>
        </li>
      </ul>
    </div>
    <div id ="test_cat" style="display:none">
      <p> This is my test para </p>
    </div>
    <div class="span-19 last" style ="display:none">
      <div id="categories" class="scroll_div">
        <ul >
          <%Event::CATEGORIES.each do |k, v| %>
          <li>
            <%= check_box_tag "category_ids[]", k, false  %>
            <%= label_tag  v%>
          </li>
          <% end  %>
        </ul>
      </div>
    </div>
    <div class ="span-19 last prepend-11">
      <ul class ="search_list">
        <li>
          <%= label_tag "Showing #{@events.total_entries} events - " %>
        </li>
        <li>
          <%= label_tag :per_page, "Results per page" %>
        </li>
        <li>
          <%= select_options_tag "slt_per_page", ((1..10).collect {|x| [(x * 5).to_s, (x * 5).to_s]}), :value => @per_page  %>
        </li>
      </ul>
    </div>
  <%#*<div class="span-19 last form_section_div">%>
  <%#*<div class="span-4">%>
  <%#*<ul class="search_list">%>
  <%#*</ul>%>
  <%#*</div>%>
  <%#*<div class="span-4 prepend-10 last"%>
  <%#*<ul class="search_list">%>

  <%#*</ul>%>
  <%#*</div>%>
  <%#*</div>%>
  <% end  %>
</div>

<%= render "events_index" %>

<div class="span-17 prepend-1 last">
  <% if permitted_to? :create, :events %>
    <%= link_to 'Add an event', new_event_path, :class => "action_link" %>
  <% end  %>
</div>

<% content_for :right_nav do%>
  <div class="span-4">`
    <%= @map.to_html unless @map.blank?%>
    <%= @map.div(:width => 180, :height => 300)  unless @map.blank?%>
  <%#*</div>%>
  </div>
<% end  %>
