<% if local_assigns[:in_search].nil? %>
  <% in_search = false %>
<% end  %>
<% if local_assigns[:index].nil? %>
  <% index = 0 %>
<% end  %>
<div class ="merchant" id="merchant_"<%= merchant.id %> class="span-16 last">
  
  <span class="listing_title blk">
    <%= link_to "#{index + 1}.#{merchant.name}", merchant, :onclick => "map.panTo((search_marker_group.getMarker('#{merchant.class.to_s.concat(merchant.id.to_s)}')).getLatLng());return false;",
      :class => "title_link"%>
  </span>
  <% if in_search %>
    <span>(In Merchants)</span>
  <% end  %>
  <span class="blk">
    <% ct = merchant.merchant_category%>
     <%= link_to "Tags: #{ct.category_name}", merchant_category_merchants_path(ct), :class => "action_link" %>
  </span>
  <span class="blk">
    <%= merchant.street1.camelize %>
    <br/>
    <%= merchant.street2.camelize + "<br/>" unless merchant.street2.blank?  %>
    <%= merchant.city.camelize %>
    <%= merchant.state.camelize + "-" + merchant.zip %>
    <br/>
  </span>
  <p class="listing_description">
    <%= simple_format truncate(merchant.description, :length => 50)%>
    <%= link_to "More...", merchant_path(merchant), :class => "norm_link" %>
  </p>
  <%  if permitted_to? :edit, merchant%>
    <%= link_to 'Edit', edit_merchant_path(merchant), :class => "action_link" %>
  <% end  %>
  <% if permitted_to? :destroy, merchant %>
    <%= link_to 'Delete', merchant, :confirm => 'Are you sure?', :method => :delete,  :class => "action_link" %>
  <% end  %>
</div>