<% page_title ("Edit Marchant") %>

<h1>Editing Merchant Profile</h1>

<%= render :partial => "form" %>
<%= link_to 'Show', @merchant %> |
<%= link_to 'Back', merchants_path %> |
<% if permitted_to? :edit, @merchant %>
  <%= link_to "Add Images", polymorphic_path([@merchant, :images])%> |
  <%= link_to "Manage Loyalty Benefits", merchant_loyalty_benefits_path(@merchant) %>
<% end  %>
<% if @merchant.gcertificates.blank? %>
<%= link_to "Set up your Green Grade", new_merchant_gcertificate_path(@merchant) %>
<% else %>
  <% @gcertificate = @merchant.gcertificates(:order => ":created_at DESC").first %>
  <%= link_to "Manage your Green Grade", edit_merchant_gcertificate_path(@merchant, @gcertificate) %>
<% end  %>