<%= javascript_include_tag "markerGroup.js" %>

<% content_for :page_headers  do%>
<% end  %>
<% @search = Search.new() %>
<% content_for :search do %>
  <%= render :partial => "/searches/form", :object => @search, :locals => {:stype => Search::SEARCH_TYPE["Merchant"], :show_refine => false}  %>
<% end  %>

<div class="span-16 last">
  <span class="loud clearfix">Near you</span>
  <div class="span-8">
    <%= render :partial => "top_list", :locals => {:header => "New Green Merchants", :collection => @latest, :class_id => :id} %>
  </div>
  <div class="span-8 last">
    <%= render :partial => "top_list", :locals => {:header => "Merchants High on Eco Meter", :collection => @highest,  :class_id => :merchant_id} %>
  </div>
</div>

<div class="span-16 last">
  <div class="span-8 ">
    <%= render :partial => "top_list", :locals => {:header => "Merchants with most members", :collection => @most_members,  :class_id => :id} %>
  </div>
  <div class="span-8 last">
    <%= render :partial => "top_list", :locals => {:header => "Highly rated for products/services", :collection => @highest_prod_srvc, :class_id => :id } %>
  </div>
</div>
<div class="span-16 last">
  <div class="span-8 ">
    <%= render :partial => "top_list", :locals => {:header => "Hot Votes", :collection => @active_votes,  :class_id => :merchant_id } %>
  </div>
  <div class="span-8 last ">
    <%= render :partial => "top_list", :locals => {:header => "Hot Offers", :collection => @top_offers,  :class_id => :id } %>
  </div>
</div>
<% content_for :right_nav do%>

<% end  %>
