<h1>New merchant</h1>

<% form_for @merchant, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :merchant_type %><br />
    <%= f.text_field :merchant_type %>

    <%= f.submit 'Create' %>
    
  </p>
<% end %>

<%= link_to 'Back', merchants_path %>

