<% if @results.blank? || @results.nil? %>
  <%= render :partial => "form", :locals => {:stype => params[:stype], :show_refine => false } %>
  <h5>Sorry no matches.</h5>
<% else %>
  <%= render :partial => "form", :locals => {:stype => params[:stype], :show_refine => true } %>
  <div class="span-19 last">
    <span class="clearfix bld">Filter By:</span>
    <% @results.each do |result, result_options| %>
      <% if result == :class
        title = :listing_type.to_s.titleize
      else
        title = result.to_s.titleize
      end
    %>
      <span class="clearfix bld"><%= title %></span>
      <ul class="inline-list">
        <% result_options.each do |option, count| %>
          <li class ="inline_list"><%= link_to "#{option} (#{count})",:params => {:refine => {result => option}, :page => 1, :stype => params[:stype]} %></li>
        <% end  %>
      </ul>
    <% end  %>
  </div>

  <h3 class="page_title"> All results for <%= @results.args.join() %> </h3>

  <% if @result_class == "Merchant" %>
    <% @merchants = @results.for %>
    <%= render :partial => "merchants/merchants_index", :object => @merchants%>
  <% elsif @result_class == "Article" %>
    <% @articles = @results.for %>
    <%= render :partial => "articles/articles_index", :object => @articles%>
  <% else %>
    <% @results.each do |result, result_options| %>
      <ul>
        <% result_options.each do |option, count| %>
          <% if result.to_s == "class" %>
            <% if option == "Merchant" %>
              <% @merchants = @results.for(result => option) %>
              <%= render :partial => "merchants/merchants_index", :object => @merchants%>
            <% elsif option == "Article" %>
              <% @articles = @results.for(result => option) %>
              <%= render :partial => "articles/articles_index", :object => @articles%>
            <% end  %>
          <% end  %>
        <% end %>
      </ul>
    <% end %>
  <% end  %>
<% end  %>
