<script type ="text/javascript">

  $j(document).ready(function() {
    $j('.date legend, .time legend').addClass('form_label');
    
    if ($j('#loyalty_benefit_point_bonus_multiplier').val() == "") {
      //      $j('#loyalty_benefit_point_bonus_window_start_input, #loyalty_benefit_point_bonus_window_end_input,#loyalty_benefit_point_bonus_window_time_start_input, #loyalty_benefit_point_bonus_window_time_start_input')
      $j('li.date, li.time').hide();
    }

   $j('#loyalty_benefit_point_bonus_multiplier').change(function(){
     if ($j('#loyalty_benefit_point_bonus_multiplier').val() == "") {
       $j('li.date, li.time').hide();
       $j(':input', 'li.date').val('').removeAttr('selected');
       $j(':input', 'li.time').val('').removeAttr('selected');
       //$j('li.date:input, li.time:input').val('').removeAttr('selected');
//       alert($j('li.date > select').val(''));
     } else {
       $j('li.date, li.time').show();
     }
   });
  });
</script>

<% if (act == "new") then %>
  <h1>New loyalty_benefit</h1>
  <% submit_url = merchant_loyalty_benefits_path(@merchant) %>
<% else %>
  <h1>Edit loyalty_benefit</h1>
  <% submit_url = merchant_loyalty_benefit_path(@merchant,@loyalty_benefit) %>
<% end  %>

<% semantic_form_for(@loyalty_benefit, :url => submit_url) do |f| %>
  <%= f.error_messages %>
  <% f.inputs do %>
    <%= f.input :loyalty_level, :as => :select, :collection => LoyaltyBenefit::LEVEL_OPTIONS.collect{|k, v| [v, k]} %>
    <%= f.input :active %>
    <%= f.input :description, :as => :text, :input_html => {:rows => "5", :cols => "20"}%>
    <%= f.input :point_conversion_ratio, :as => :select, :label => "Points earner per $", :collection => (1..10).to_a.collect{|x| [x] * 2}, :include_blank => false %>
    <%= f.input :community_use, :label => "Points valid with all affiliated merchants?" %>
    <%= f.input :point_bonus_multiplier, :label => "Bonus points?", :as => :select, :collection => (1..10).to_a.collect{|x| [x] * 2} %>
    <%= f.input :point_bonus_window_start, :label => "Between ", :as => :date %>
    <%= f.input :point_bonus_window_end, :label => " and ",  :as => :date %>
    <%= f.input :point_bonus_window_time_start, :label => "Between", :as => :time, :ignore_date => true %>
    <%= f.input :point_bonus_window_time_end, :label => " And ", :as => :time, :ignore_date => true  %>
    <%= f.input :perk_bonus, :label => "Additional Perks?", :as => :text %>
  <% end  %>
  <%= f.buttons %>
<% end %>

<%= link_to 'Back', merchant_loyalty_benefits_path(@merchant) %>