<script type ="text/javascript">

  $j(document).ready(function() {
    $j("#loyalty_benefit_benefit_type").change(function() {
      val = $j(this).val();
      if (val == 1) {
        $j("#point_conversion").show();
        $j("#perk_description").hide();
        $j("#loyalty_benefit_description").val("");
      } else if (val == 2) {
        $j("#point_conversion").hide();
        $j("#loyalty_benefit_point_conversion_ratio").val("");
        $j("#perk_description").show();
      }
    }).change();

    $j("#loyalty_benefit_bonus_type").change(function(){
      val = $j(this).val();
      if (val != "") {
        $j("#bonus_window").show();
      } else {
        $j("#bonus_window").hide();
        $j("#bonus1 :input, #bonus2 :input, #bonus3 :input, #bonus_window :input").val("");
      }
      for (i = 1; i <=3; i++) {
        elem = $j("#bonus" + i);
        //inputElems = $j("#bonus" + i + " :input")
        inputElems = elem.children(":input")
        if (i == val) {
          elem.show();
        } else {
          inputElems.val("");
          elem.hide();
        }
      }
    }).change();
  });
</script>

<% if (act == "new") then %>
  <h1>New loyalty_benefit</h1>
  <% submit_url = merchant_loyalty_benefits_path(@merchant) %>
<% else %>
  <h1>Edit loyalty_benefit</h1>
  <% submit_url = merchant_loyalty_benefit_path(@merchant,@loyalty_benefit) %>
<% end  %>

<% form_for(@loyalty_benefit, :url => submit_url) do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :loyalty_level %><br />
    <%= f.select(:loyalty_level, options_for_select(LoyaltyBenefit::LEVEL_OPTIONS.collect{|k,v|[v,k]}, @loyalty_benefit.loyalty_level)) %>
  </div>
  <div>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div>
    <%= f.label "Benefit Type" %><br />
    <%= f.select :benefit_type, options_for_select(LoyaltyBenefit::BENEFIT_OPTIONS.collect {|k, v| [v, k]}, @loyalty_benefit.benefit_type) %>
  </div>
  <div style="display: none" id="perk_description">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "60x10" %>
  </div>
  <div  id="point_conversion">
    <%= f.label "Points earned for $ spent"%><br />
    <%= f.select :point_conversion_ratio, options_for_select((1..10).to_a.collect{|x| [x] * 2}, @loyalty_benefit.point_conversion_ratio), {:include_blank => true} %>
  </div>
  <div>
    <%= f.label "Bonus Type" %>
    <%= f.select :bonus_type, options_for_select(LoyaltyBenefit::BONUS_OPTIONS.collect {|k, v| [v, k]}, @loyalty_benefit.bonus_type), {:include_blank => true} %>
  </div>

  <div style="display: none" id="bonus1">
      <%= f.label :point_bonus %><br />
      <%= f.text_field :point_bonus , :class => "bonus_field"%>
  </div>

  <div style="display: none" id ="bonus2">
      <%= f.label :point_bonus_multiplier %><br />
      <%= f.select :point_bonus_multiplier, options_for_select((1..10).to_a.collect{|x| [x] * 2}, @loyalty_benefit.point_bonus_multiplier), :include_blank => true, :class => "bonus_field" %>
  </div>

  <div style="display: none" id="bonus3">
      <%= f.label :perk_bonus %><br />
      <%= f.text_area :perk_bonus, :size => "60x10", :class => "bonus_field"%>
  </div>

  <div style="display: none" id ="bonus_window">
    <span>
      <%= f.label :bonus_window_start %><br />
      <%= f.datetime_select :bonus_window_start, :class => "bonus_field", :include_blank => true %>
    </span>
    <br/>
    <span>
      <%= f.label :bonus_window_end %><br />
      <%= f.datetime_select :bonus_window_end, :class => "bonus_field", :include_blank => true %>
    </span>
  </div>

  <p>
    <%= f.submit act == "new" ? "Create" : "Update", :class => "btn" %>
  </p>
<% end %>

<%= link_to 'Back', merchant_loyalty_benefits_path(@merchant) %>