      <div class="footer span-24 last  bounding_border">
        <ul class="footer_links">
          <li>
            <%= link_to t('layout.lnk_u'), user_details_path %>
          </li>
          <li>
            <%= link_to t('layout.lnk_m'), merchants_path %>
          </li>
          <li>
            <%= link_to t('layout.lnk_faq'), faq_path %>
          </li>
          <li>
            <%= link_to t('layout.lnk_terms'), terms_path %>
          </li>
          <li>
            <%= link_to t('layout.lnk_pp'), pvp_path %>
          </li>
          <li>
            <%= link_to t('layout.lnk_fdb'), feedback_path %>
          </li>
          <li>
            <%= link_to t('layout.lnk_about'), about_path %>
          </li>
        </ul>
      </div>
