<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <%= render :partial => '/layouts/scripts' %>
  <body>
    <div id ="loading">
      <div id ="loading_inner">
        Loading...
      </div>
    </div>
    <div class="container" id="main_container">
      <div class="header span-24 last">
        <div class ="span-24 header_links_div last">
          <ul class="header_links">
            <% unless  current_user %>
              <li><%= link_to t('txt.sign_up'), new_user_path, :class => "special_link" %></li>
              <li><%= link_to t('txt.login'), login_path %></li>
            <% else %>
              <li><%= link_to current_user.username + "(" + current_role + ")", current_user %></li>
              <li><%= link_to t("txt.logout"), logout_path  %></li>
            <% end %>
          </ul>
        </div>
        <div class="last span-24 header_logo_div"> <!-- header logo -->
          <h1 class="header_txt"><%= link_to t('txt.logo'), root_path, :class => "logo_link"%><%= %></h1>
          <span class="logo_msg"><%= t 'txt.logo_msg' %><sup>&trade;</sup></span>
        </div>
        <div class="span-24 last  main_links_div"> <!-- main links -->
          <ul class="main_links ">
            <li><%= link_to "WHAT'S NEW", root_path  %></li>
            <li><%= link_to_unless_current "MERCHANTS", merchants_path do
                link_to "merchants".upcase, merchants_path
              end%></li>
            <li><%= link_to_unless_current "EVENTS", events_path do
                link_to "EVENTS", events_path
              end%></li>
            <li><%= link_to_unless_current "BLOGS", articles_path do
                link_to "BLOGS", articles_path
              end%></li>
            <% if current_user %>
              <li><%= link_to "ACCOUNT", gaccount_path %></li>
            <% end  %>
          </ul>
        </div>
      </div>
      <div class ="span-24 last content_container bounding_border">
        <div class="content span-19 " id="content">
          <% if flash[:notice] %>
            <div class ="notice" id ="notice"><%= flash[:notice] %></div>
          <% end  %>
          <% if flash[:success] %>
            <div class ="success" id ="success"><%= flash[:success] %></div>
          <% end  %>
          <% if flash[:error] %>
            <div class ="error" id ="error"><%= flash[:error] %>
            </div>
          <% end  %>
          <%= yield %>
        </div> <!-- end content div -->
        <div class="right_nav span-5 last">
          <%= yield :right_nav %>
        </div>
      </div> <!-- end content_container -->
      <%= render :partial => "/layouts/footer" %>
    </div>
  </body>
</html>
